<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Categories Games</Name>
    <Alias>CategoriesGames</Alias>
    <Icon>icon-pannel-close</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>CategoriesGames</Template>
    </AllowedTemplates>
    <DefaultTemplate>CategoriesGames</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SubCategoryGames</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>84b66dc12be3c6d3d7eb3cd9cdc85f37</Hash>
</DocumentType>