<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News Category</Name>
    <Alias>NewsCategory</Alias>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>NewsCategory</Template>
    </AllowedTemplates>
    <DefaultTemplate>NewsCategory</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>News</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>ed57857b26e32971e3925860d88d7169</Hash>
</DocumentType>