<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Base Categories</Name>
    <Alias>BaseCategories</Alias>
    <Icon>icon-categories</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseDoctype</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Image Icon</Name>
      <Alias>imageIcon</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>111c3779-5ae1-493c-a38e-295cc6084e10</Definition>
      <Tab>Icons</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Children</Name>
      <Alias>children</Alias>
      <Type>Umbraco.ListView</Type>
      <Definition>c1a56286-b7eb-4fa0-aa96-314bb765fce1</Definition>
      <Tab>Children Nodes</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Type>Umbraco.UploadField</Type>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>14</Id>
      <Caption>Icons</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>15</Id>
      <Caption>Children Nodes</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>16</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>da9ab674618d66d9b808b7025a4dd580</Hash>
</DocumentType>