<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Categories Articles</Name>
    <Alias>CategoriesArticles</Alias>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>CategoriesArticles</Template>
    </AllowedTemplates>
    <DefaultTemplate>CategoriesArticles</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>4997f5b8554a066ef8e9641a1a34b095</Hash>
</DocumentType>