<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Categories Articles</Name>
    <Alias>CategoriesArticles</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description />
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>CategoriesArticles</Template>
    </AllowedTemplates>
    <DefaultTemplate>CategoriesArticles</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>62c0dedf46b3ebb134c2e152f8ce2eee</Hash>
</DocumentType>