<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>Article</Alias>
    <Icon>icon-article</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseContent</Master>
    <AllowedTemplates>
      <Template>Article</Template>
    </AllowedTemplates>
    <DefaultTemplate>Article</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>a20351485a7ab451abf13ae18b5afd01</Hash>
</DocumentType>