<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>Styles</Name>
  <FileName>
  </FileName>
  <Content><![CDATA[/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.loading {
  background: url('../images/preloader.gif') 40% 30% no-repeat;
  width: 640px;
  height: 480px;
}
]]></Content>
  <Hash>689b5d4d895f9dc952347758bd34bef6</Hash>
</Stylesheet>