<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sub Category Movies</Name>
    <Alias>SubCategoryMovies</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>SubCategoryMovies</Template>
    </AllowedTemplates>
    <DefaultTemplate>SubCategoryMovies</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Movie</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>38b7dd04bcb0434abf61771ed1231d79</Hash>
</DocumentType>