<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>CategoriesGames</Name>
  <Alias>CategoriesGames</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.CategoriesGamesViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>ae49bf95e9f6e947289999f6aeb93d0b</Hash>
</Template>