<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Sub Category Movies</Name>
  <Alias>SubCategoryMovies</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.SubCategoryMoviesViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>5af0ba06ca136161bc737ff48a4f7750</Hash>
</Template>