<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Categories Movies</Name>
    <Alias>CategoriesMovies</Alias>
    <Icon>icon-movie-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>CategoriesMovies</Template>
    </AllowedTemplates>
    <DefaultTemplate>CategoriesMovies</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SubCategoryMovies</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>dfbd43bb75f5070f069d0d0229841a87</Hash>
</DocumentType>