<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News</Name>
    <Alias>News</Alias>
    <Icon>icon-newspaper-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseContent</Master>
    <AllowedTemplates>
      <Template>News</Template>
    </AllowedTemplates>
    <DefaultTemplate>News</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>f187d795-33aa-4fa0-8c2c-16b6950cf72c</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>2015</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>5801cc6a68e27f3685287cc26125e836</Hash>
</DocumentType>