<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Sub Category Games</Name>
  <Alias>SubCategoryGames</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.SubCategoryGamesViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>b6ab86bec9bed1c1f578aa213daef550</Hash>
</Template>