<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Articles Category</Name>
    <Alias>ArticlesCategory</Alias>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>ArticlesCategory</Template>
    </AllowedTemplates>
    <DefaultTemplate>ArticlesCategory</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>1d895c13ba8ca952a8bc481454935b90</Hash>
</DocumentType>