<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Articles Category</Name>
    <Alias>ArticlesCategory</Alias>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>e31853d45f1192af0a3032324a243cec</Hash>
</DocumentType>