<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Image Icon" Id="Umbraco.ImageCropper" Definition="111c3779-5ae1-493c-a38e-295cc6084e10" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="262" Value="[&#xD;&#xA;  {&#xD;&#xA;    &quot;width&quot;: 100,&#xD;&#xA;    &quot;height&quot;: 90,&#xD;&#xA;    &quot;alias&quot;: &quot;icon&quot;&#xD;&#xA;  }&#xD;&#xA;]" Alias="crops" SortOrder="0" />
  </PreValues>
  <Hash>23d06d1535b0c93b47728cc14051d044</Hash>
</DataType>