<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Movies Picker" Id="Umbraco.MultiNodeTreePicker" Definition="03ec1558-25a0-449b-a543-2ba4182b0340" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="266" Value="{&#xD;&#xA;  &quot;type&quot;: &quot;content&quot;,&#xD;&#xA;  &quot;id&quot;: 2059&#xD;&#xA;}" Alias="startNode" SortOrder="0" />
    <PreValue Id="267" Value="Movie" Alias="filter" SortOrder="1" />
    <PreValue Id="268" Value="" Alias="minNumber" SortOrder="2" />
    <PreValue Id="269" Value="5" Alias="maxNumber" SortOrder="3" />
  </PreValues>
  <Hash>11e04d74b2a8f4a447b363eab092196c</Hash>
</DataType>