<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>News</Name>
  <Alias>News</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.NewsViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>3b12340295bc5a6abd60c83cce828ac4</Hash>
</Template>