<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Game</Name>
  <Alias>Game</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.GameViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}
@*<iframe src="@Model.EmbedUrl" id="game_frame" name="game_frame" width="640" height="480" align="middle" scrolling="No" frameborder="0"></iframe>*@

<div id="game" data-url="@Model.EmbedUrl" class="loading"></div>

@section scripts
{
@Scripts.Render("~/scripts/siteScripts.js")
}]]></Design>
  <Hash>4ec25c3351f43b6c631aedeb9e14d46a</Hash>
</Template>