<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Movie</Name>
  <Alias>Movie</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.MovieViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>f017f0d8eb3167c6954df9e2ac8fb134</Hash>
</Template>