<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Base Content</Name>
    <Alias>BaseContent</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseDoctype</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>d17ea33babd1167107ae481dc135f174</Hash>
</DocumentType>