<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>Styles.min</Name>
  <FileName>Styles.min</FileName>
  <Content><![CDATA[.loading{background:url('../images/preloader.gif') 40% 30% no-repeat;width:640px;height:480px}
]]></Content>
  <Hash>2df533d1c03652b52239234ec4337e05</Hash>
</Stylesheet>