<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sub Category Games</Name>
    <Alias>SubCategoryGames</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>BaseCategories</Master>
    <AllowedTemplates>
      <Template>SubCategoryGames</Template>
    </AllowedTemplates>
    <DefaultTemplate>SubCategoryGames</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Game</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>6f861dd5446bd635b74bee1a47f47854</Hash>
</DocumentType>