<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>CategoriesMovies</Name>
  <Alias>CategoriesMovies</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.CategoriesMoviesViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>9956c92b0d733ce3e6785ffdb70b4930</Hash>
</Template>