@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.ArticleViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}
<div class="row">
    @if(!Model.HideSideMenu)
    {
        <div class="col-md-2 side-menu">
            @Html.CachedPartial("_SideNav", Model.SideNav, 5, true)
        </div>
    }
    <div class="@(!Model.HideSideMenu ? "col-md-10" : "col-md-12")">
    @if (!Model.HideTitle)
    {
            <h1 class="red">@Model.Name</h1>
        }
            <article>
                @Html.Raw(Model.PageBody)
            </article>
        </div>
    </div>