<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>News Category</Name>
  <Alias>NewsCategory</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.NewsCategoryViewModel>
@{
    Layout = "Shared/_InnerLayout.cshtml";
}]]></Design>
  <Hash>d6a4bc185979e8746ce6fe744dd57614</Hash>
</Template>