<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>HomePage</Name>
  <Alias>HomePage</Alias>
  <Design><![CDATA[﻿@inherits WebExtensions.MVC.WebLayout<WebExtensions.ViewModels.HomePageViewModel>
@{
    Layout = "Shared/_Layout.cshtml";

    var id = Model.Id;
    var hide = Model.IsVisible;
}
<div>test</div>]]></Design>
  <Hash>74c0c8337ba8a2a8488f9565403c273d</Hash>
</Template>