<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Images Home Page" Id="u7dtg" Definition="d4d4ba10-d31c-4106-b25c-27d8210570ae" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="245" Value="{&#xD;&#xA;  &quot;columns&quot;: [],&#xD;&#xA;  &quot;rows&quot;: &quot;3&quot;&#xD;&#xA;}" Alias="rows" SortOrder="0" />
    <PreValue Id="246" Value="{&#xD;&#xA;  &quot;columns&quot;: [&#xD;&#xA;    {&#xD;&#xA;      &quot;title&quot;: &quot;Image&quot;,&#xD;&#xA;      &quot;alias&quot;: &quot;image&quot;,&#xD;&#xA;      &quot;type&quot;: &quot;mediapicker&quot;,&#xD;&#xA;      &quot;props&quot;: {&#xD;&#xA;        &quot;multiple&quot;: false&#xD;&#xA;      }&#xD;&#xA;    },&#xD;&#xA;    {&#xD;&#xA;      &quot;title&quot;: &quot;Image Title&quot;,&#xD;&#xA;      &quot;alias&quot;: &quot;imageTitle&quot;,&#xD;&#xA;      &quot;type&quot;: &quot;textbox&quot;,&#xD;&#xA;      &quot;props&quot;: {}&#xD;&#xA;    },&#xD;&#xA;    {&#xD;&#xA;      &quot;title&quot;: &quot;Image Link&quot;,&#xD;&#xA;      &quot;alias&quot;: &quot;imageLink&quot;,&#xD;&#xA;      &quot;type&quot;: &quot;contentpicker&quot;,&#xD;&#xA;      &quot;props&quot;: {}&#xD;&#xA;    }&#xD;&#xA;  ]&#xD;&#xA;}" Alias="columns" SortOrder="1" />
  </PreValues>
  <Hash>19dd1a91657df8751f5e55293fc7326b</Hash>
</DataType>